body{
    background-size: cover;
}
.container{
    padding-top:20px;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
    background-color: lightblue;
    height:96vh;
    background-size: cover;
}
*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin:0px;
    padding:0px;
}
.selector{
    display:flex;
    flex-direction: column;
    background-color: rgb(179, 233, 174);
    padding:20px;
    margin:15px;
    border-radius: 18px;
    border-style: ridge;

}
.internals{
    display:flex;
    flex-direction:column;
    width:350px;
    margin:10px;
    padding-right:100px;
}
.row{
    display:flex;
    padding-left: 12px;
}
.attendance{
    display:flex;
    flex-direction: column;
    background-color:rgb(179, 233, 174);
    width:350px;
    margin:10px;
    padding:10px;
    padding-left: 50px;
    padding-right:80px;
    border-radius: 18px;
    border-style: ridge;
}
.sub{
    display:flex;
    flex-direction: column;
    background-color: lightblue;
    justify-content: center;
    align-items: center;
}
.but{
    display:flex;
    flex-direction: column;
    padding-left: 60px;
}
.input-style{
    height:3vh;
}

.cal-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgreen;
    font-size:16px;
    font-weight: bold;
    height:48px;
    width:128px;
    border-radius:14px;
    border-style: ridge;
    cursor: pointer;
    
}
.cal-btn:hover{
    background-color:rgb(67, 201, 34);
    color: white;
}